# DATASET OF FLIGTS

In [23]:
import kagglehub
import pandas as pd

###   DOWLOAD THE DATASET   ###
################################################################################
#path = kagglehub.dataset_download("shubhambathwal/flight-price-prediction")
#print(f'The path were the dataset was storaged is {path}')
################################################################################





### load the data into a df
economy_df = pd.read_csv('2/economy.csv')
business_df = pd.read_csv('2/business.csv')



#Read the main information(structure, rows and columns(Shape))
print('SHAPE OF DATASETS')
print(f'Economy Rows & Columns: {economy_df.shape}')
print(f'Business Row & Columns: {business_df.shape}')



### Data structure
print('########################################################################')
print('Economy HEAD rows:')
print(economy_df.head(2))

print('Business HEAD rows:')
print(business_df.head(5))


###   Data Types
print('########################################################################')
print('Economic DataTypes')
print(economy_df.dtypes)
print('Business DataTypes')
print(business_df.dtypes)

/home/eking/anaconda3/envs/venvR/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

SHAPE OF DATASETS
Economy Rows & Columns: (206774, 11)
Business Row & Columns: (93487, 11)
########################################################################
Economy HEAD rows:
         date   airline ch_code  num_code dep_time   from time_taken  \
0  11-02-2022  SpiceJet      SG      8709    18:55  Delhi    02h 10m
1  11-02-2022  SpiceJet      SG      8157    06:20  Delhi    02h 20m

        stop arr_time      to  price
0  non-stop     21:05  Mumbai  5,953
1  non-stop     08:40  Mumbai  5,953
Business HEAD rows:
         date    airline ch_code  num_code dep_time   from time_taken  \
0  11-02-2022  Air India      AI       868    18:00  Delhi    02h 00m
1  11-02-2022  Air India      AI       624    19:00  Delhi    02h 15m
2  11-02-2022  Air India      AI       531    20:00  Delhi    24h 45m
3  11-02-2022  Air India      AI       839    21:25  Delhi    26h 30m
4  11-02-2022  Air India      AI       544    17:15  Delhi    06h 40m

                                                stop arr_time      to   price
0                                          non-stop     20:00  Mumbai  25,612
1                                          non-stop     21:15  Mumbai  25,612
2  1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...    20:45  Mumbai  42,220
3  1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...    23:55  Mumbai  44,450
4  1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...    23:55  Mumbai  46,690
########################################################################
Economic DataTypes
date          object
airline       object
ch_code       object
num_code       int64
dep_time      object
from          object
time_taken    object
stop          object
arr_time      object
to            object
price         object
dtype: object
Business DataTypes
date          object
airline       object
ch_code       object
num_code       int64
dep_time      object
from          object
time_taken    object
stop          object
arr_time      object
to            object
price         object
dtype: object

### Responsse Explained:
Response of above we have       SHAPE, STRUCTURE AND DATATYPES
- First imprecions some inconcistencies into 'stop' column


## Understanding Data
Columns, datatype, context:
1. date: object (*EUR)
2. airline: object (Name of the airline)
3. ch_code: object (Flight character Code)
4. num_code: int64 (Flight numerical code)
5. dep_time: object (Departure time(Hora de salida))
6. from: object (Source city)
7. time_taken: object (Duration of flight)
8. stop: object (Stops (fligths with stopovers))
9. arr_time: object (Arrival time)
10. to: object (Destination city)
11. price: object (Ticket price)

In [58]:
import pandas as pd

#############################################################
###   REVIEW THE 'stop' inconsistencies and fixing them   ###
#############################################################


### load the data into a df
economy_df = pd.read_csv('2/economy.csv')
business_df = pd.read_csv('2/business.csv')


###  Extracting the main values of the column 'stop'
economy_df['stop'] = economy_df['stop'].str.extract(r'(non-stop|1-stop|2-stop|2\+-stop)')
business_df['stop'] = business_df['stop'].str.extract(r'(non-stop|1-stop|2-stop|2\+-stop)')


#### Filling the null values
economy_df.fillna({'stop': 'unknown'}, inplace=True)
business_df.fillna({'stop': 'unknown'}, inplace=True)



### Printing the new values
print('INCONSISTENCIES DELETED FROM (stop)')
print(economy_df['stop'].value_counts())
print('business_df')
print(business_df['stop'].value_counts())



### SAVING THE FIRST ANOMLIE TO THE DATASET
economy_df.to_csv('2/economycleaned.csv', index=False)
business_df.to_csv('2/businesscleaned.csv', index=False)

INCONSISTENCIES DELETED FROM (stop)
stop
1-stop      166627
non-stop     27942
2+-stop      12205
Name: count, dtype: int64
business_df
stop
1-stop      84302
non-stop     8102
2+-stop      1083
Name: count, dtype: int64

In [65]:
import pandas as pd

### Load the modified CSV files
economy_df = pd.read_csv('2/economycleaned.csv')
business_df = pd.read_csv('2/businesscleaned.csv')

### Convert 'date' column to datetime
economy_df['date'] = pd.to_datetime(economy_df['date'], format='%d-%m-%Y', errors='coerce')
business_df['date'] = pd.to_datetime(business_df['date'], format='%d-%m-%Y', errors='coerce')

### Verify the data types
print('DATA TYPES (date) MODIFIED')
print('ECONOMY')
print(economy_df.dtypes)
print('BUSINESS')
print(business_df.dtypes)

DATA TYPES (date) MODIFIED
ECONOMY
date           datetime64[ns]
airline                object
dep_time               object
from                   object
time_taken             object
stop                   object
arr_time               object
to                     object
price                  object
flight_code            object
dtype: object
BUSINESS
date           datetime64[ns]
airline                object
dep_time               object
from                   object
time_taken             object
stop                   object
arr_time               object
to                     object
price                  object
flight_code            object
dtype: object

### Some updates till now

- 'date' colum now has datetime fixed
- 'stop' column has been fixed for non-sense fills
- 'ch_code' has not irregularities
- 'num_code' has not irregularities

In [59]:

### READING THE MODIFIDED CSV
economy_df = pd.read_csv('2/economycleaned.csv')
business_df = pd.read_csv('2/businesscleaned.csv')


### CONCATENATE COLUMNS
economy_df['flight_code'] = economy_df['ch_code'] + '-' + economy_df['num_code'].astype(str)
business_df['flight_code'] = business_df['ch_code'] + '-' + business_df['num_code'].astype(str)

economy_df.drop(columns=['ch_code', 'num_code'], inplace=True)
business_df.drop(columns=['ch_code', 'num_code'], inplace=True)


### VERIFY THE CHANGES
print(economy_df.head(1))
print(business_df.head(1))


### SAVE INTO THE SAME MODFYDED FILE
economy_df.to_csv('2/economycleaned.csv', index=False)
business_df.to_csv('2/businesscleaned.csv', index=False)

         date   airline dep_time   from time_taken      stop arr_time      to  \
0  11-02-2022  SpiceJet    18:55  Delhi    02h 10m  non-stop    21:05  Mumbai

   price flight_code
0  5,953     SG-8709
         date    airline dep_time   from time_taken      stop arr_time  \
0  11-02-2022  Air India    18:00  Delhi    02h 00m  non-stop    20:00

       to   price flight_code
0  Mumbai  25,612      AI-868

### Updates till now
In this code what we've done, was delete two columns 'ch_code' and 'num_code' to integrate into new column 'flight_code'
1. date: object (*EUR)          *CLEANED
2. airline: object (Name of the airline)            *CLEANED
3. ch_code: object (Flight character Code)          *DELETED
4. num_code: int64 (Flight numerical code)          *DELETED
5. dep_time: object (Departure time(Hora de salida))            *
6. from: object (Source city)           *
7. time_taken: object (Duration of flight)          *
8. stop: object (Stops (fligths with stopovers))            *CLEANED
9. arr_time: object (Arrival time)          *
10. to: object (Destination city)           *
11. price: object (Ticket price)            *
12. fligths_code (concadenate the codes num & ch)           *ADDED AND CLEANED

In [123]:
### verifing the structure of the table processed
print(business_df.head(1))
print(economy_df.head(1))
print('######################')



print('VERFYING FOR NULL VALUES OR ANOMALIES [dep_time] & [arr_time]')
print('NULL VALUES(economy(dep_time))')
print(economy_df['dep_time'].isnull().sum())
print('NULL VALUES (business(dep_time))')
print(business_df['dep_time'].isnull().sum())

print('NULL VALUES (economy(arr_time))')
print(economy_df['arr_time'].isnull().sum())
print('NULL VALUES (busines(arr_time))')
print(business_df['arr_time'].isnull().sum())
print('######################')



print('IDENTIFYING INVALID CHARACTERES (economy(dep_time))')
economy_deptime = economy_df['dep_time'].str.len() !=5
print(economy_deptime.sum())
print('IDENTIFYING INVALID CHARACTERES (business(dep_time))')
business_deptime = business_df['dep_time'].str.len() !=5
print(business_deptime.sum())

print('IDENTIFYING INVALID CHARACTERES (economy(arr_time))')
economy_arrtime = economy_df['arr_time'].str.len() !=5
print(economy_arrtime.sum())
print('IDENTIFYING INVALID CHARACTERES (business(arr_time))')
business_arrtime = business_df['arr_time'].str.len() !=5
print(business_arrtime.sum())

        date    airline dep_time   from time_taken      stop arr_time      to  \
0 2022-02-11  Air India    18:00  Delhi    02h 00m  non-stop    20:00  Mumbai

    price flight_code
0  25,612      AI-868
        date   airline dep_time   from time_taken      stop arr_time      to  \
0 2022-02-11  SpiceJet    18:55  Delhi    02h 10m  non-stop    21:05  Mumbai

   price flight_code
0  5,953     SG-8709
######################
VERFYING FOR NULL VALUES OR ANOMALIES [dep_time] & [arr_time]
NULL VALUES(economy(dep_time))
0
NULL VALUES (business(dep_time))
0
NULL VALUES (economy(arr_time))
0
NULL VALUES (busines(arr_time))
0
######################
IDENTIFYING INVALID CHARACTERES (economy(dep_time))
0
IDENTIFYING INVALID CHARACTERES (business(dep_time))
0
IDENTIFYING INVALID CHARACTERES (economy(arr_time))
0
IDENTIFYING INVALID CHARACTERES (business(arr_time))
0

### Updates till now
In this code what we've done, was delete two columns 'ch_code' and 'num_code' to integrate into new column 'flight_code'
1. date: object (*EUR)          *CLEANED
2. airline: object (Name of the airline)            *CLEANED
3. ch_code: object (Flight character Code)          *DELETED
4. num_code: int64 (Flight numerical code)          *DELETED
5. dep_time: object (Departure time(Hora de salida))            *CLEANED
6. from: object (Source city)           *
7. time_taken: object (Duration of flight)          *
8. stop: object (Stops (fligths with stopovers))            *CLEANED
9. arr_time: object (Arrival time)          *CLEANED
10. to: object (Destination city)           *
11. price: object (Ticket price)            *
12. fligths_code (concadenate the codes num & ch)           *ADDED AND CLEANED

In [ ]:
###  VERFYING FOR NULL VALUES OR ANOMALIES ['from'] & ['time_taken']

print('VERFYING FOR NULL VALUES OR ANOMALIES of [from] and [time_taken]')
print('\nUnique values of economy and business [from]')
print(f'economy {economy_df['from'].unique()}')
print(f'busnines{business_df['from'].unique()}')
print('#################################')


print('\nNull values of economy and business [from]')
print(f'economy {economy_df['from'].isnull().sum()}')
print(f'busines {business_df['from'].isnull().sum()}')
print('#################################')

print('\nNull values of economy and business [time_taken]')
print(f'economy {economy_df['time_taken'].isnull().sum()}')
print(f'busines {business_df['time_taken'].isnull().sum()}')
print('#################################')

print('\nInconsistent values of economy and business [time_taken]')
ecoinvalid_timetaken = economy_df['time_taken'].str.len() != 7
print(f'economy {ecoinvalid_timetaken.sum()}')
businvalid_timetaken = business_df['time_taken'].str.len() != 7
print(f'busniness {businvalid_timetaken.sum()}')


# ### Function to fix 'time_taken' values
# ### IF YOU WANT TO SE JUST THE INDEX OF EACH VALUE THAT HAVE INCONSISTENCIES USE (inconsistent_indices = economy_df[ecoinvalid_timetaken].index)
# def fix_time_taken(time_str):
#     # Use regex to pad the hour part with a leading zero if necessary
#     import re
#     match = re.match(r'(\d{1})h (\d{1,2})m', time_str)
#     if match:
#         hour = match.group(1).zfill(2)  # Pad hour with leading zero
#         minute = match.group(2).zfill(2)  # Pad minute with leading zero
#         return f"{hour}h {minute}m"
#     return time_str  # Return the original value if it doesn't match the pattern

# ### Apply the function to fix 'time_taken' in both DataFrames
# economy_df['time_taken'] = economy_df['time_taken'].apply(fix_time_taken)
# business_df['time_taken'] = business_df['time_taken'].apply(fix_time_taken)


# print('\nInconsistencies of economy [time_taken]')
# print(ecoinvalid_timetaken.sort_values())
# rowindex= 169454
# rowindex2= 170139
# print(economy_df.loc[rowindex])
# print(economy_df.loc[rowindex2])

VERFYING FOR NULL VALUES OR ANOMALIES of [from] and [time_taken]

Unique values of economy and business [from]
economy ['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']
busnines['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']
#################################

Null values of economy and business [from]
economy 0
busines 0
#################################

Null values of economy and business [time_taken]
economy 0
busines 0
#################################

Inconsistent values of economy and business [time_taken]
economy 0
busniness 0
date           2022-03-26 00:00:00
airline                     Trujet
dep_time                     08:35
from                     Hyderabad
time_taken                 02h 25m
stop                        1-stop
arr_time                     11:00
to                       Bangalore
price                        3,196
flight_code                 2T-623
Name: 170139, dtype: object

## Updates till now
- we have some incosistencies that has been fixed in 'time_taken'
- change some dtypes
- Now we only have to clean this

6. from: object (Source city)           *CLEANED
7. time_taken: object (Duration of flight)          *CLEANED
10. to: object (Destination city)           *
11. price: object (Ticket price)            *

In [ ]:
import re
###   SHOW THE ADVANCES TILL NOW
print('economy')
print(economy_df.head(1))
print('Business')
print(business_df.head(1))
print('######################################################')

print('\n GIVING HOUR FORMAT TO TIME TAKEN REMOVING H AND M')

def newformat(time_str):
    #Use regex to extract hour and minute
    match = re.match(r'(\d{2})h (\d{2})m', time_str)
    if match:
        hour = match.group(1)
        minute = match.group(2)
        return f"{hour}:{minute}"
    return time_str


economy_df['time_taken'] = economy_df['time_taken'].apply(newformat)
business_df['time_taken'] = business_df['time_taken'].apply(newformat)


print(economy_df['time_taken'].head(1))

economy
        date   airline dep_time   from time_taken      stop arr_time      to  \
0 2022-02-11  SpiceJet    18:55  Delhi    02h 10m  non-stop    21:05  Mumbai

   price flight_code
0  5,953     SG-8709
Business
        date    airline dep_time   from time_taken      stop arr_time      to  \
0 2022-02-11  Air India    18:00  Delhi    02h 00m  non-stop    20:00  Mumbai

    price flight_code
0  25,612      AI-868
######################################################

 GIVING HOUR FORMAT TO TIME TAKEN REMOVING H AND M